
.feature-box {
  text-align: center;
}

.apple-logo{
  margin: 2px 5px 5px 0 ;
  height: 20px;
  width: 20px;
}

.playstore-logo{
  margin: 2px 5px 5px 0 ;
  height: 20px;
  width: 20px;
}

.container-fluid {
  padding: 3% 15%;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(27deg);
  margin: 0 50px;
  position: absolute;
}

#pricing {
  text-align: center;
}

.row {
  margin: 50px 20px;
}

.card {
  text-align: center;
}

h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
  height: 1.5;
}


h3 {

  font-weight: bold;
}

p {
  color: #8f8f8f;
}

i {
  color: #ef8172;
  padding-bottom: 15px;
}

i:hover {
  color: #ff4c68;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}


/* navigation-Bar */
.navbar-brand {
  font-family: "ubuntu";
  font-size: 2rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

/* feature-section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;

}


/* testimonials */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  margin-bottom: 20px;
}

.testimonials-img {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
  padding: 3%;
}

.press-logo {
  width: 20%;
  margin: 50px 20px 50px 20px;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

#footer {
  text-align: center;
  margin: 20px;
}
